<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>FocalLink</title>
    </head>
    <body>
        <h1>FocalLink</h1>
        <a href={{ code_url }}>Source Code</a>
    </body>
</html>
